.Card {
  display: flex;
  border-radius: 2rem;
  background-color: #1c232d;
  padding: 2rem;
  flex-direction: column;
  width: 20rem;
}

h2 {
  margin-bottom: 0;
}

.IconStarWrapper {
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 4rem;
  padding: 1rem;
  background-color: #2e313d;
}

.IconStar {
  height: 100%;
  width: 100%;
}

.SubmitButton {
  margin: 1rem 0;
  font-weight: 500;
  background-color: #fc7613;
  color: white;
  text-decoration: inherit;
}
.SubmitButton:hover {
  background-color: white;
  color: #fc7613;
}
