.RatingButton {
  border-radius: 4rem;
  height: 3rem;
  width: 3rem;
  color: #777f89;
  border: none;
  text-align: center;
}

.selected {
  background-color: #7c8898;
  color: white;
}

.RatingButton:hover {
  background-color: #fd7614;
  color: white;
}
